body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(48, 85, 91);
    margin: 0;
    position: relative;
}

@font-face {
  font-family: 'WickedFont';
  src: url('WickedFont-Regular-BF65f34594abb81.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;  
    position: relative;
    z-index: 1;
}

h1{
    font-family: 'WickedFont', sans-serif;
    font-size: 60px;
    margin-top: 0;
    color: rgb(242, 242, 242);
}

p{
    color: #ffffff;
}

.sort-buttons{
    display: flex;
    gap: 20px;
}

.sort-middle{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    padding: 25px;
    border-radius: 5px;
    cursor: pointer;
    border-color: white;
    border-style: solid;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

#left, #right{
    width: 150px;
}

#left{
    background: lightpink;
}

#right{
    background: rgb(122, 190, 138);
}

#both, #no-opinion{
    background-image: linear-gradient(to right, lightpink, rgb(122, 190, 138));
}

button:hover{
    filter: brightness(0.7);
}


#creator{
    display: flex;
    color: rgb(91, 115, 141);
    margin-top: 20px;
}


table {
    max-width: 1000px;
    margin: 20px 30px;
}

table th, table td {
    padding: 12px 24px;
    text-align: left;
}

table th {
    background-color: #ffeded;
    color: rgb(213, 102, 124);
}

table tr:nth-child(even) {
    background-color: #ffffff;
    color:rgb(149, 100, 108);
}


