body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 224, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sort-buttons{
    display: flex;
    gap: 20px;
}

.sort-middle{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    padding: 25px;
    background: lightpink;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(193, 139, 147);
}

#left, #right{
    width: 150px;
}


img{
    margin-top: 20px;
    height: 100px;
}
